@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    background: #f2f2f2;
}
.info-text p {
    font-style: italic;
    font-weight: bold;
    color: #043804;
}
.card {
    border: 1px solid #043804;
    border-radius: 20px;   
    background: #ffffff;
}
.bg-yellow {   
    background-color: rgb(187, 205, 50);
}
.bg-red {
    background-color: rgb(200, 16, 16);
}
.bg-green {
    background-color: rgb(16, 191, 16);
}